/********************轮播图*************************/
.main-carousel-image {
    background-size: cover;
    background-position: center;
    color: #fff;
};

.main-carousel-one-background{
    background-image:url(images/main/carousel1.jpg)
};

.main-carousel-two-background{
    background-image:url(images/main/carousel2.jpg)
};

.main-carousel-three-background{
    background-image:url(images/main/carousel3.jpg)
}

/********************九宫格图标*************************/
.main-table-btn{
    width: 64px !important;
    height: 64px !important;
}

.main-table-btn1-background{
    background-image:url(images/main/table/btn1.jpg);
}